@use "./style/scss/main.scss" as *;
@use "./style/css/meanmenu.css" as *;
@use "./style/scss/utils/variables" as *;

.video-modal {
  .modal-content {
    border: 0;
    background: transparent;
    box-shadow: none;

    .modal-header {
      border: 0;
    }
  }
}

.feature-course-slider-22 {
  margin-bottom: 40px;
}

//Common Slider Styles
.slick-slide > div {
  margin-right: 16px;
}

.slick-dots li button:before {
  display: none;
}

.home-two {
  .slick-slide > div {
    margin-right: 16px;
  }

  .slick-dots li button:before {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #d6d4e4;
    content: "";
  }

  .slick-dots li.slick-active button:before {
    width: 15px;
    height: 7px;
    border-radius: 10px;
    background-color: #ff4667;
  }
}

//Ant Common select
.ant-select-dropdown .ant-select-item-option-active {
  color: #fff !important;
  background-color: #392c7d !important;
  border-radius: 0 !important;
}

.ant-select {
  font-family: $font-family-primary;
  font-size: $font-size-15;
  color: $gray-600;
  line-height: 1.5;
}

//About us section
.about-us-content {
  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: start;
  }
}

.banner-section-two .banner-img-section .banner-bg-03 {
  position: relative;
  z-index: 99;
}

.menu-opened body:before {
  z-index: 999;
}

.menu-opened .main-menu-wrapper body:before,
.menu-opened body:before {
  background-color: #0009;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

//Banner Five
.home-five {
  .drop-detail-three {
    height: 55px;
    border-radius: 5px !important;

    .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
      border: 0;
      background-color: transparent;
    }

    .ant-select-single {
      height: 55px;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          width: 14px;
          height: 14px;
          background: #ff4667;
          border-radius: 50px;
        }
      }
    }
  }

  .slick-dots li button {
    width: 8px;
    height: 8px;
    background: var(--dark);
    border-radius: 50%;
  }

  .slick-dots li button:before {
    display: none;
  }
}

.course-content .filter-clear .custom_check .checkmark::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
}
.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #ff4667;
  background-color: #ff4667;
}
.ant-slider .ant-slider-track {
  background-color: #ff4667;
}
.theiaStickySidebar {
  position: sticky;
  top: 0;
}
//home Three
.home-3 {
  .banner-section-three .banner-bg-02 {
    z-index: -1;
  }

  .banner-section-three .banner-bg-01 {
    z-index: -1;
  }

  .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
    border-radius: 50px !important;
    background-color: #ffdae0 !important;
  }

  .ant-select-single {
    height: 44px;
  }

  .slick-dots {
    button {
      width: 15px;
      height: 7px;
      border-radius: 50px;
      background: $gray-100;
    }

    .slick-active {
      width: 50px;
      height: 7px;
      border-radius: 50px;
      background: $secondary;

      button {
        background: transparent;
      }
    }
  }

  .slick-dots li button {
    width: 15px;
    height: 7px;
    border-radius: 50px;
  }
}
.home-two {
  .slick-dots {
    button {
      width: 7px;
      height: 7px !important;
      border-radius: 10px;
      background: $gray-100;
    }

    .slick-active {
      width: 15px;
      height: 7px;
      border-radius: 10px;
      background: $secondary;
      button {
        background: transparent;
      }
    }
  }
  .slick-dots li {
    margin: 0 5px;
    height: auto;
    width: auto;
  }
  .slick-dots li button {
    width: 7px;
    height: 7px !important;
    border-radius: 10px;
  }
}
//Home 4
.home-4 {
  .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
    border-radius: 5px;
    background-color: transparent;
  }

  .ant-select-single {
    height: 44px;
  }
}

.home-six {
  .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
    border-radius: 50px !important;
    background-color: #ff4667 !important;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-item {
    color: #fff !important;
  }

  .ant-select-single {
    height: 44px;
  }

  .slick-dots {
    bottom: -60px;

    li {
      margin-right: 35px;
      &.slick-active {
        button {
          width: 50px;
          height: 5px;
          background-color: #ff4667;
        }
      }

      button {
        width: 50px;
        height: 5px;
        background-color: #f6f6fe;
        padding: 0px;
      }
    }
  }
}
.like {
  &.selected {
    i {
      color: #ff4667;
    }
  }
}
.antd-custom-table {
  position: relative;
  &.custom-table {
    border: none;
  }
  .table-search {
    position: absolute;
    top: -54px;
    right: 0;
  }
  .ant-table-wrapper {
    overflow: hidden;
    font-family: "Inter", sans-serif;
    .ant-table-tbody > tr > td {
      padding: 12px 15px;
    }
    .ant-table-thead > tr > th {
      padding: 12px 15px;
      background: #f8f8f8;
      color: #191919;
    }
  }
  .ant-table {
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    overflow-x: auto;
  }
  .input-icon-addon {
    top: 20px;
  }
  .ant-pagination-total-text {
    position: absolute;
    left: 0;
    color: #6d6d6d;
  }
  .ant-pagination .ant-pagination-item {
    border-radius: 50%;
    background-color: #f8f8f8;
  }

  //ant datatable pagination
  .ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
    color: $white;
    background-color: #ff4667;
    border-color: #ff4667;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    border-radius: 50%;
    background-color: #f8f8f8;
  }
}
.ant-select-single {
  height: 40px;
}
.ant-select-dropdown {
  z-index: 99999999;
}
.ant-otp .ant-otp-input {
  width: 88px;
  height: 70px;
  margin-right: 20px;
  text-align: center;
  border-color: var(--gray-100);
  color: var(--gray-900);
  background-color: var(--white);
  font-size: 14px;
  padding: 0.5rem 1rem;
  min-height: 40px;
}
.ant-input-outlined:focus {
  border-color: #ff4667 !important;
}
.ant-picker .ant-picker-suffix {
  display: none;
}
.icon-form .form-icon {
  z-index: 1;
}
.line-height-2 {
  .form-control {
    line-height: 2;
  }
}
.swiper-testimonial-three {
  .swiper-coverflow {
    width: fit-content;
    right: 349px;
    @media (max-width: 767.98px) {
      width: 100%;
      right: auto;
    }
  }
}
.input-tags {
  .tag {
    background: var(--light);
    border: 1px solid var(--gray-100);
    border-radius: 3px;
    padding: 0 5px;
    font-size: 14px;
    color: var(--gray-700);
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
  }
  .p-chips-token {
    position: relative;
    margin-right: 10px;
    svg {
      position: absolute;
      right: 4px;
    }
  }
}
.dark-mode {
  .ant-select-selector {
    background-color: #121212 !important;
    border: 1px solid #17222c !important;
  }
  .daterangepicker .ranges ul {
    background-color: #0d0d0d !important;
    border: 1px solid #17222c !important;
  }
  .ant-select-dropdown {
    background-color: #0d0d0d !important;

    .ant-select-item {
      color: #4e5561 !important;
    }

    .ant-select-item-option-active {
      color: #fff !important;
    }
  }
  .ant-select .ant-select-selection-placeholder,
  .ant-select-single .ant-select-selector,
  .ant-select .ant-select-arrow,
  .ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell
    .ant-picker-time-panel-cell-inner {
    color: #d8dfee;
  }
  .ant-picker-dropdown
    .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    background: #000;
  }
  // date range picker
  .daterangepicker td.active,
  .daterangepicker td.active:hover {
    background-color: $primary;
    color: #fff;
  }

  .daterangepicker .calendar-table td.in-range {
    background-color: #fff;
  }
  .daterangepicker {
    background-color: #0d0d0d !important;
    border: 1px solid #1b1632 !important;

    .calendar-table {
      background-color: #0d0d0d !important;
      border: 1px solid #1b1632 !important;
    }

    td.off {
      background-color: #0d0d0d !important;
    }
  }
  .daterangepicker {
    background-color: #0d0d0d;
    border: 1px solid #1b1632;
  }
  .rsw-toolbar {
    background-color: #0d0d0d;
    border-bottom: 1px solid #17222c;
  }
  .rsw-btn {
    color: #fff;
  }
  .ant-picker-outlined:hover {
    border-color: #17222c;
    background-color: #0d0d0d;
  }
  // .slick-prev {
  //   background-color: #0D0D0D;

  //   &::before {
  //     color: #FAFCFF;
  //   }
  // }

  // .slick-next {
  //   background-color: #0D0D0D;

  //   &::before {
  //     color: #FAFCFF;
  //   }
  // }

  .testimonial-section .testimonial-slider .slick-prev {
    background-color: #0d0d0d;

    &::before {
      color: #fafcff;
    }
  }

  .testimonial-section .testimonial-slider .slick-next {
    background-color: #0d0d0d;

    &::before {
      color: #fafcff;
    }
  }

  .ant-picker-dropdown .ant-picker-panel-container {
    background-color: #0d0d0d;
  }

  .ant-picker-dropdown .ant-picker-cell-in-view {
    color: #fafcff;
  }

  .ant-picker-dropdown .ant-picker-header-view > button {
    color: #fafcff;
  }
  #reportrange {
    background-color: #0d0d0d !important;
    border: 1px solid #17222c !important;
    span {
      color: #fafcff !important;
    }
  }
  .table.ant-table-wrapper .ant-table-thead > tr > th,
  .ant-table-wrapper .ant-table-thead > tr > td {
    color: #fafcff !important;
    &::before {
      background-color: #0d0d0d !important;
    }
  }
  .ant-table-wrapper .ant-table-column-title {
    color: #fafcff !important;
  }
  .table tbody tr td {
    background-color: #0d0d0d !important;
  }
  .user-sidebar .user-sidebar-body ul li a.active {
    span {
      color: #cf3425;
    }
  }
  .agent-sidebar {
    ul {
      li {
        a {
          color: #fafcff !important;
        }
      }
    }
  }
}

.home-4 .knowledge-sec .featured-img-1 {
  width: 100%;
  float: left;
  background-image: url(../public/assets/img/feature/feature-28.jpg);
  height: 777px;
  background-size: cover;
  background-position: center center;
}

.course-item.course-item-five .course-content .course-price h3 {
  font-size: 20px;
  margin-bottom: 0;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.video-thumbnail video {
  border-radius: 8px;
  object-fit: cover;
  height: auto;
  width: 100%;
}
